<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wxg.module1">

    <application
        android:name="application.Module1Application"
        android:allowBackup="true"
        android:label="Module1"
        android:supportsRtl="true"
        tools:replace="android:label">
        <activity
            android:name="com.wxg.module1.Module1Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>